.name-container{
    /* background-color: rgba(204, 113, 113, 0.295); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 100px;
    color: white;
}

.name-container h2{
    font-weight: 300;
    font-size: clamp(3.5rem, 6vw, 5rem);
    padding-bottom: 10px;
}

.name-container p{
    font-size: clamp(.5rem, 5vw, 1.5rem);
    padding-bottom: 18px;   
}

.name-container button {
    padding: 10px;
    min-width: 90px;
    margin-right: 40px;
    background: transparent;
    color: white;
}

@media screen and (max-width: 480px){
    .name-container{
        padding: 40px
    }
    .name-container button {
        margin-right: 15px;
    }
}