nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    padding: 30px;
    color: white

}

.nav-name{
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: 300;
}

.nav-name:hover{
    cursor: pointer;
}

.nav-name .shifted{
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.nav-name .unshifted{
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.show{
    display: inline-block;
    font-size: 1.6rem;
    opacity: 1;
    transform: translate(0px);
    transition: all 0.3s ease-in-out;
}

.hidden{
    display: inline-block;
    font-size: 0rem;
   opacity: 0;
   transform: translate(-10px);
    transition: all 0.3s ease-in-out;
}

.nav-links .bars{
    display: none;
}

.nav-links .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links .about{
    width: 60px !important;
}

.nav-links .text > div{
    margin-left: 30px;
    font-size: 1.3rem;
    z-index: 3;
    width: 80px;
}




.nav-links .text > div:hover{
    cursor: pointer;
    border-bottom: 2px solid #18ff1094;
    font-size: 1.4rem;
}







@media screen and (max-width: 580px){

    .nav-links .text{
        display: none;
    }

    .nav-links .bars{
        display: none;
        width: 37px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .nav-links .bars:hover{
        cursor: pointer;
    }
    
    .nav-links .bars > div{
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
    }
    
    .nav-links .bars > div::before,
    .nav-links .bars > div::after{
        content: '';
        position: absolute;
        z-index: 2;
        top: -9px;
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
    }
    
    /* Moves Lines down */
    .nav-links .bars > div::after{
        top: 9px;
    }
    
    /* Toggler Animation */
    .nav-links .bars.menu-on > div {
        transform: rotate(135deg);
    }
    
    /* Turns lines into X */
    .nav-links .bars.menu-on > div::before,
    .nav-links .bars.menu-on > div::after{
        top: 0;
        transform: rotate(90deg);
    }
    
    /* Rotate on Hover When Checked */
    .nav-links .bars.menu-on:hover > div {
        transform: rotate(225deg);
    }
}