:root{
    --main-line: #18ff1000;
    /* color: #18ff10; */
}

.background{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    background-color: #000000;
}

.bg-pattern{
    height: 100%;
    width: 100%;
    background:
	linear-gradient(90deg, var(--main-line), 20px, transparent 20px, transparent calc(100% - 20px), var(--main-line), calc(100% - 20px)) 0 0 / 120px 70px,
	linear-gradient(0deg, rgb(211, 211, 211) 2px, transparent 2px) 0 39px / 80px 69px,
    var(--main-line);
    opacity: .1;
}
.bg-pattern:before,
.bg-pattern:after{
    content: '';
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}

.bg-pattern:before{
    background:
	linear-gradient(90deg, var(--main-line) 2px, transparent 2px) 0 0 / 60px 140px,
	linear-gradient(30deg, transparent 50%, var(--main-line) 50%, var(--main-line) calc(50% + 2px), transparent calc(50% + 2px)) 0 0 / 120px 70px,
	linear-gradient(-30deg, transparent 50%, var(--main-line) 50%, var(--main-line) calc(50% + 2px), transparent calc(50% + 2px)) 0 0 / 120px 70px,
	linear-gradient(90deg, transparent 40px, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0) calc(100% - 40px), transparent calc(100% - 40px)) 0 0 / 120px 70px,
	linear-gradient(0deg, rgba(211, 211, 211, 0) 2px, transparent 1px) 0 0 / 40px 70px;
}

.bg-pattern:after{
    background:
	linear-gradient(90deg, rgba(255, 255, 255, 0) 20px, transparent 20px) 20px 0 / 60px 70px,
	linear-gradient(-60deg, transparent calc(50% - 2px), var(--main-line) calc(50% - 2px), var(--main-line) calc(50% + 1px), transparent calc(50% + 1px)) 0 0 / 40px 70px,
	linear-gradient(60deg, transparent calc(50% - 2px), var(--main-line) calc(50% - 2px), var(--main-line) calc(50% + 1px), transparent calc(50% + 1px)) 0 0 / 40px 70px;
}

.particles-container {
    height: 100%;
    width: 100%;
    transition: 1500ms ease;
}